#table {
  background-color: #006a56;
  width: 700px;
  height: 300px;
  border-radius: 50px;
  border: 5px solid #633517;
  padding: 10%;
}
label {
  margin: 56px 12px;
}

.buttons {
  margin-top: 14%;
  margin-left: 40%;
}

#player-hand, #dealer-hand {
  background-color: #00b794;
  width: 600px;
  height: 100px;
  padding-bottom: 2%;
}

img {
  height: 115%;
  width: 12%;
}

#deal-button {
  width: 80px;
  height: 40px;
  border-radius: 10%;
  font-size: 1em;

}

#hit-button {
  width: 80px;
  height: 40px;
  border-radius: 10%;
  font-size: 1em;
}

#stand-button {
  width: 80px;
  height: 40px;
  border-radius: 10%;
  font-size: 1em;
}
